* {
text-shadow:none !important;
filter:none !important;
-ms-filter:none !important;
}

header{
	padding: 10px 5px;
}

#box{
	display: block;
}

.item {
	width: 100%;
}
main, aside{
	padding: 5px;
}



/******* barra lateral com os contatos, habilidades e qualificações ********/


.ltbar {
	width: 90%;
	margin: 0 auto;
	padding: 5px 0;
	text-align: justify;
}

.ltbar h2{
	text-align: left;
}

#contact p{
	display: inline-block;
}

.hideImg {
	display: none;
}
.hideTxt {
	display: block;
}

.hab h4, .hab p {
	display: inline-block;
}

/******** toda parte dentro do main - escolaridade/cargos/certificados *********/

.group {
	width: 95%;
}

.subgroup{
	padding:5px; 
}

#certificate h4, #certificate p {
	display: inline-block;
}