@charset "utf-8";
article section{
	//border:1px solid red;
	width:78%;
	float:right;
	margin-bottom:20px;
}

	
	#imgDeApresentacao{	
	//border:1px solid red;
	width:90%; 
	height:200px;
	margin:0 auto;
	}
		#imgDeApresentacao img {width:100%}
	article h2{border-top:1px solid blue;border-bottom:1px solid blue;}
	article h3{margin-left:4%;}
	//article h4{font-size:1.3em;color:#225ca1; margin-top:20px; text-align:center}
	//article p {font-size:1.1em;margin-top:5px; text-align:justify; text-indent:3%;}

	table{width:70%; margin:0 auto;}
	table td {min-width:200px;padding:1%;}
	
	
#informacao{
	//border:1px solid blue;
	width:18%;
	min-width:225px;
	padding:1%;
	float:left;
	background:#225ca1;
	overflow:auto;
}
	font {font-size:2.5em;}
	#informacao li{list-style-type:disc; margin-left:5%; padding:1%; color:#fff;}
	#informacao a, #informacao p{color:#fff;}
	#informacao a{text-decoration:underline; font-size:1.2em 	}
		#informacao a:hover{color:red;}
	#informacao p{font-size:1.2em;}
		#informacao p:last-child{white-space:pre}
	#informacao h3 {color:#fff;margin-top:5%;font-size:1.8em; text-align:center;}

	
@media only screen and (max-width: 1000px){
#informacao {float:none; width:100%; border-top:1px solid #fff}
#informacao ul {width:35%;float:left;}
#informacao ul li ul {width:100%; float:none}
#informacao form{float:left;}
#mini{width:35%; float:left;}
#informacao h3{margin:0; font-size:1.6em}
font {font-size:2em}

article{width:100%; float:none;} 
}

@media only screen and (max-width: 826px){
#mini, #informacao ul {width:50%}
#informacao h3 {clear:left; text-align:left; float:left; margin-top:15px;}
#mini h3 {float:none;margin:0;}
#informacao p {clear:right; float:left;}
	#informacao p:last-child{white-space:inherit;}
}
@media onli screen and (max-width: 670px){
	#informacao h3 {float:none;}	
}
@media only screen and (max-width: 460px){
#mini, #informacao ul {width:100%}
#informacao p:last-child{white-space:pre;}
}