@charset "utf-8";
#quemsomos img{width:50%; float:left;margin-right:15px;}
main p { font-size:1.1em; }

.t1 {
	text-align:justify;	
}

.t2 {
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}

