<!doctype html>
<html lang="pt-br"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable = no, initial-scale=1">
        <meta property="fb:app_id" content="1538168689844858" />
        
        <link rel="shortcut icon" href="../imagem/maximoqi.ico" />
		<link href="../css/estilo2.css" rel="stylesheet" type="text/css">
	<!-- InstanceBeginEditable name="doctitle" -->
		<title>Base site</title>
		<!-- InstanceEndEditable -->
		<!-- InstanceBeginEditable name="head" -->
        <link href="../css/cursos.css" rel="stylesheet" type="text/css">
		<!-- InstanceEndEditable -->
	</head>
	<body>
    <div class="geral">
	<header>
			<section id="logo">
				<h1><img src="../imagem/logo.png" alt="Máximo QI.- preparatórios" title="Máximo Qi."></h1>
			</section>
			<section id="menusuperior">
				<ul>
					<li><a href="../quemsomos.html">Quem Somos |</a></li>
					<li><a href="../curriculo.html">Trabalhe Conosco |</a></li>
					<li><a href="https://ava.aprovaconcursos.com.br/">EAD |</a></li>
				</ul>
				<!--<form action="" method="post">
					<label for="login">Login:</label>
					<input type="mailto" id="login" placeholder="login">
					<label for="senha">Senha:</label>
					<input type="password" id="senha" placeholder="senha">
					<button type="submit"> Entrar </button>
				</form>-->
			</section>
		</header>
		<main>
		<nav > 
        	<ul id="menuRes"><li><h2 class="moveis"><!--Menu--> <span> &#9776 </span></h2>
			<ul id="menu">
				<li><a href="../index.html"> Home</a></li>
				<li><a> Cursos </a><span>&#9776 </span> 
					<ul class="submenu">
						<li><a href="">Concursos</a> <span>&#9776 </span> 
							<ul class="submenu2">
                            	<li><a href="concursosAbertos/rioprofessor1.html">Professor I e II</a></li>
								<li><a href="concursosAbertos/rioprofessor2.html">Professor II</a></li>
                                <li><a href="concursosAbertos/portugues.html">Português</a></li>
                                <li><a href="concursosAbertos/tecnico.html">Pré-Técnico </a></li>
                                <li><a href="concursosAbertos/prezinho.html">Pré-5°ano</a></li>
                                
							</ul>
						</li> 
						<li><a href="">Reforço escolar</a><span>&#9776 </span> 
                        	<ul class="submenu2">
								<li><a href="reforcoEscolar/diario.html">Reforço diário </a></li>
								<li><a href="reforcoEscolar/particular.html">Aula particular</a></li>
						   	</ul>
                        </li> 
						<li><a href="">Profissionalizantes</a><span>&#9776 </span> 
							<ul class="submenu2">
								<li><a href="profissionalizantes/teologia.html"> Básico Teologico</a></li>
								<li><a href="profissionalizantes/learn-english.html">Inglês</a> </li>
							</ul> 
						</li>
						<li><a href=""> EAD </a><span>&#9776 </span>
                        	<ul class="submenu2">
								<li><a href="EAD/vestibular.html">Pré-Vestibular</a></li>
                            </ul>
                        </li>
					</ul>
				</li>
				<li><a href="../matricula.html"> Matrículas</a></li>
                <li><a href="../contatos.html"> Contatos</a></li>
				<!--<li><a href="../blog.html"> Blog</a></li>-->
			</ul>
            </li></ul>
			<aside class="social">
            	<a href="https://www.linkedin.com/company/m%C3%A1ximo-qi" target="_blank"><img src="../imagem/linkedin.png"></a>
                <a href="https://www.youtube.com/channel/UCitJSKBoD1Zk3tmwhkQPaeA" target="_blank"><img src="../imagem/youtube.png"></a>
                <a href="https://plus.google.com/118332567317240989431" target="_blank"><img src="../imagem/google-plus.png"></a>
                <a href="https://twitter.com/cursosmaximoqi" target="_blank"><img src="../imagem/twitter.png"></a>
                <a href="https://www.facebook.com/maximoqi" target="_blank"><img src="../imagem/facebook.png"></a>
                <div class="moveis">
                <a href="whatsapp://send?text=Nosso%20Whatsapp%20é:(21)98127-3958" target="_blank"><img src="../imagem/whatsapp.png"></a>
				<a href="https://www.instagram.com/maximoqi/" target="_blank"><img src="../imagem/instagram.png"></a>
                </div>
			</aside>
		</nav>
		<!-- InstanceBeginEditable name="corpo" -->
		  <aside id="informacao">
        <ul>
        	<li><a href="#sobreConcurso"> Sobre o concurso </a> 
				<ul><li><a href="#informacoes">Informações</a></li></ul>
			</li>
            <li><a href="#sobreCurso"> Nosso Curso </a>
				<ul><li><a href="#programa">Programa de Estudos</a></li>
				<li><a href="#motivos"> Porque fazer esse curso?</a></li></ul>
			</li>
        </ul>
		<div id="mini">
		<h3> reserve sua vaga</h3>
			<p> Preencha o <a href="../../matricula.html">Formulário de Inscrição</a><br> e pague sua matrícula:
			
			<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
			<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
			<input type="hidden" name="itemCode" value="B40A90F09696E33334FC2F9FD0DC25AB" />
			<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
			</form>
			</p>
            </div>
            
			<h3> Valor do curso:</h3>	
			<p>até 5x <font>R$200,00</font>
Total: R$1100,00
            </p>
		</aside>
		
		<article >
		<h2>título</h2>
		<div id="imgDeApresentacao"><img src="../imagem/curso.png"></div>
       		<h3 id="sobreConcurso">Sobre o concurso</h3>
         		<p><b>Cargo(s): </b>xyz </p>
				<p><b>Status do concurso: </b>xyz </p>
				<p><b>Vagas disponíveis: </b>xyz </p>
				<p><b>Nível necessário: </b>xyz </p>
				<h4 id="informacoes">Informações:</h4>
				<p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
 				<p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
				<p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        		<p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        	<h3 id="sobreCurso">Nosso Curso</h3>
				<p><b>Período:</b> A definir </p>
				<p>	<b>Modalidade: </b>A definir </p>
				<p><b>Dias:</b> A definir  </p>
				<p><b>Horários:</b> A definir </p>
				<p><b>Início previsto:</b> A definir </p>
    			<h4 id="programa">Programa de Estudos:</h4>
        		<table border="1em" width="300">
        			<tr>
        				<td><b> Disciplina(s)</b></td>
            			<td> <strong>Português</strong></td>
					</tr>
        			<tr>
        				<td><b> Carga horária por matéria</b></td>
            			<td>
                        Português –  1080 min. <br> 
 						</td>
        			</tr>
        			<tr>
        				<td><b> Carga horária Semanal</b></td>
            			<td>720 min. </td>
        			</tr>
        			<tr>
        				<td><b> Carga horária total</b></td>
            			<td>8460 min.</td>
       				</tr>
        		</table>
       
			<h4 id="motivos">Por que fazer esse curso?</h4>
			<p>Só fazendo <b>nossos</b> <strong>cursos</strong> você terá  vários benefícios como:
			<br><br>
            •	Professores qualificados;<br>
			•	Material exclusivo;<br>
			•	Capacitação, orientação e aprimoramento de seus conhecimentos para a prestação de vestibulares ou 
   concursos em geral;<br>
			•	Ambiente personalizado;<br>
			•	Preparação completa e focada;<br>
			•	Preço diferenciado;<br>
			•	E as mais variadas formas de pagamento. 
			</p>
			
		</article>
        	
      
        <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
		<script src="../js/cursos.js"> </script>
		<!-- InstanceEndEditable -->
		</main>
		<footer>
        	<section class="bordas">
        		<ul>
					<li><a href="../index.html">Home</a> |</li>
					<li><a href="../cursos.html">Cursos</a> |</li>
					<li><a href="../matricula.html">Matrículas</a> |</li>
                    <li><a href="../contatos.html">Contatos</a> |</li>
					<li><a href="../blog.html">Blog</a></li>
				</ul>
        	</section>
        	<section id="rodapelogo"></section>
        	<section id="rodapeapoio"></section>
            <section id="rodapecontato">
            	<div>
				  	<p><a href="https://www.google.com.br/maps/place/M%C3%A1ximo+Qi.+Preparat%C3%B3rios/@-22.885811,-43.583651,17z/data=!3m1!4b1!4m2!3m1!1s0x9be39435d5d0f9:0x70675c24d79a172b" target="_blank"> Rua Ocaimã,431 Vila Nova - Campo Grande -
                        CEP:23071-430 - Rio de Janeiro/RJ
					</a></p>
					<p>(21)33169607 | (21)39099771 | (21)981273958</p>
				</div>
                <div>
					<a href="https://www.facebook.com/maximoqi" target="_blank"><img src="../imagem/facebook.png"></a>
					<a href="https://www.linkedin.com/company/m%C3%A1ximo-qi" target="_blank"><img src="../imagem/linkedin.png"></a>
					<a href="https://twitter.com/cursosmaximoqi" target="_blank"><img src="../imagem/twitter.png"></a>
					<a href="https://www.youtube.com/channel/UCitJSKBoD1Zk3tmwhkQPaeA" target="_blank"><img src="../imagem/youtube.png"></a>
					<a href="https://plus.google.com/118332567317240989431" target="_blank"><img src="../imagem/google-plus.png"></a>
					<a href="whatsapp://send?text=Nosso%20Whatsapp%20é:(21)98127-3958" target="_blank"><img src="../imagem/whatsapp.png"></a>
					<a href="https://www.instagram.com/maximoqi/" target="_blank"><img src="../imagem/instagram.png"></a>
				</div>
            </section>
            <section id="inferior">
            	Copyright 2015. Todos os direitos reservados à Máximo QI | Desenvolvido por <a>LIVESTREET</a></section>
            </section>
        </footer>
    </div>
    <script> 
  window . fbAsyncInit =  function ()  { 
    FB . init ({ 
      appId       :  '1538168689844858' , 
      xfbml       :  true , 
      version     :  'v2.5' 
    }); 
  };

  ( function ( d , s , id ){ 
     var js , fjs = d . getElementsByTagName ( s )[ 0 ]; 
     if  ( d . getElementById ( id ))  { return ;} 
     js = d . createElement ( s ); js . id = id ; 
     js . src =  "//connect.facebook.net/en_US/sdk.js" ; 
     fjs . parentNode . insertBefore ( js , fjs ); 
   }( document ,  'script' ,  'facebook-jssdk' )); 
</script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72473605-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
<!-- InstanceEnd --></html>